<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark  justify-content-between wow animated rollIn" data-wow-delay="0.9s" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="/">
        <span class="font-bold wow animated hinge infinite" style="color:#30cfc0">SHOPS</span> ARROUND <span class="font-bold wow animated hinge infinite" style="color: #30cfc0">ME</span>
      </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto" [hidden]="!connected" >
      <li class="nav-item">
        <a  routerLink="/shops" routerLinkActive="active" class="nav-link  waves-light" mdbRippleRadius>
          <span class="font-bold">NEARBY SHOPS</span>
        </a>
      </li>
      <li class="nav-item">
        <a  routerLink="/preferredShops" routerLinkActive="active" class="nav-link  waves-light" mdbRippleRadius>
          <span class="font-bold">PREFERRED SHOPS</span>
        </a>
      </li>
      <li class="nav-item">
        <a  (click)="signout()"  class="nav-link  waves-light" mdbRippleRadius>
          <span class="font-bold">SIGN OUT</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

