<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark  justify-content-between wow animated rollIn" data-wow-delay="0.9s" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#">
        <span class="font-bold wow animated hinge infinite" style="color:#30cfc0">SHOPS</span> ARROUND <span class="font-bold wow animated hinge infinite" style="color: #30cfc0">ME</span>
      </a>
  </logo>
  <links>
    <button type="button" class="btn btn-default waves-light ml-auto" mdbRippleRadius>
      <i class="fa fa-github" aria-hidden="true"></i>  
      Github
    </button>
  </links>
</mdb-navbar>