            
<section class="section pb-3 text-center text-lg-left mt-5">
    <div class="view intro hm-white-light" style="background-image: url(assets/bg5.jpg); background-attachment: fixed; height: 500px;">
      <div class="full-bg-img">
          <div class="container">
              <div class="d-flex align-items-center d-flex justify-content-center" style="height: 900px">
                  <div class="row mt-5">
                      <div class="col-md-12 wow animated rollIn mb-3" data-wow-delay="0.9s">
                          <div class="intro-info-content text-center">
                              <h1 class="display-1 mb-3 wow animated fadeInDown" data-wow-delay="0.9s">
                                  <span class="cyan-text font-bold wow animated hinge infinite" data-wow-delay="0.9s" style="color:#30cfc0">
                                      Unauthorized 
                                  </span> 
                                  Request
                                </h1>
                              <h5 class="font-up mb-3 mt-2 font-bold animated wow fadeIn" data-wow-delay="0.9s"> You need to sign in or sign up first . </h5>
                            </div>
                      </div>
                      <div class=" col-md-12 intro-info-content text-center">
                            <app-signup></app-signup>
                            <app-signin></app-signin>
                      </div>                  
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
          
