
<div class="view intro hm-white-light" style="background-image: url(assets/bg5.jpg); background-attachment: fixed; height: 500px;">
  <div class="full-bg-img">
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 900px">
              <div class="row mt-5">
                  <div class="col-md-12 wow animated rollIn mb-3" data-wow-delay="0.9s">
                      <div class="intro-info-content text-center">
                          <h1 class="display-1 mb-3 wow animated fadeInDown" data-wow-delay="0.9s">
                              <span class="cyan-text font-bold wow animated hinge infinite" data-wow-delay="0.9s" style="color:#30cfc0">
                                  SHOPS
                              </span> 
                              ARROUND 
                              <span class="cyan-text font-bold wow animated hinge infinite" data-wow-delay="0.9s"style="color:#30cfc0">
                                  ME
                              </span>
                            </h1>
                          <h5 class="font-up mb-3 mt-2 font-bold animated wow fadeIn" data-wow-delay="0.9s">Sign in and descover all shops arround you ! </h5>
                        </div>
                  </div>
                  <div class=" col-md-12 intro-info-content text-center" [hidden]="connected">
                        <app-signup></app-signup>
                        <app-signin></app-signin>
                  </div>                  
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">    
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center mb-3 ">
          <app-testimonial></app-testimonial>
      </div>
      <!--Grid column-->    
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-pink-slight" style="background-image: url(assets/bg5.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img"> 
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
              <div class="row mt-5">
                  <div class="col-md-12 wow animated fadeIn mb-3">
                      <div class="intro-info-content text-center">
                          <h1 class="display-1 white-text mb-2 wow animated fadeInDown" data-wow-delay="0.3s">SHOPS ARROUND ME</h1>
                          <h4 class="mb-3 mt-1 white-text font-bold wow animated fadeIn" data-wow-delay="0.4s">View the full source code.</h4>
                          <a href="https://github.com/EnnadiLamyae/hf-shops" target="_blank" class="btn btn-pink wow animated fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">Github</a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>       
  </div>
</div>