<div class="container mt-5">

<!--Section: Products v.1-->
<section class="section pb-3">
        <!--Section heading-->
        <h1 class="section-heading h1 pt-4 text-center"><span class="cyan-text font-bold wow animated hinge infinite" data-wow-delay="0.9s" style="color:#30cfc0">
                SHOPS
            </span> 
            ARROUND 
            <span class="cyan-text font-bold wow animated hinge infinite" data-wow-delay="0.9s"style="color:#30cfc0">
                ME
            </span></h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-r" *ngFor="let shop of shops">
                <div class="card card-cascade narrower">
                    <div class="view overlay hm-white-slight">
                        <img src="{{shop.picture}}" class="img-thumbnail mx-auto d-block" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <a href="" class="text-muted">
                            <h5>{{shop.email}}</h5>
                            <span class="mr2"> <i class="fa fa-map-marker">{{shop.city}}</i></span>
                        </a>
                        <h4 class="card-title"><strong><a href="">{{shop.name}}</a></strong></h4>
                        <div class="card-footer">
                            <span class="right">
                                <a class="active" placement="top" mdbTooltip="dislike"  container="body"><i class="fa fa-thumbs-o-down"></i></a> 
                                <a class="active" placement="top" mdbTooltip="Added to Wishlist"  container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
</div>