
<!--Section: Products v.4-->
<section class="section pb-3">
  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Our bestsellers</h1>
  <!--Section description-->
  <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <!--First row-->
  <div class="row">

      <!--First column-->
      <div class="col-lg-3 col-md-6 mb-r">

          <!--Collection card-->
          <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view  hm-zoom">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(28).jpg" class="img-fluid" alt="">
                  <div class="stripe dark">
                      <a>
                          <p>Tops <i class="fa fa-chevron-right"></i></p>
                      </a>
                  </div>
              </div>
              <!--/.Card image-->
          </div>
          <!--/.Collection card-->

      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-lg-3 col-md-6 mb-r">

          <!--Collection card-->
          <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view  hm-zoom">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg" class="img-fluid" alt="">
                  <div class="stripe light">
                      <a>
                          <p>Shorts <i class="fa fa-chevron-right"></i></p>
                      </a>
                  </div>
              </div>
              <!--/.Card image-->
          </div>
          <!--/.Collection card-->

      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-lg-3 col-md-6 mb-r">

          <!--Collection card-->
          <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view  hm-zoom">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(31).jpg" class="img-fluid" alt="">
                  <div class="stripe dark">
                      <a>
                          <p>Dresses <i class="fa fa-chevron-right"></i></p>
                      </a>
                  </div>
              </div>
              <!--/.Card image-->
          </div>
          <!--/.Collection card-->

      </div>
      <!--/Third column-->

      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-r">

          <!--Collection card-->
          <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view  hm-zoom">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(32).jpg" class="img-fluid" alt="">
                  <div class="stripe light">
                      <a>
                          <p>Accessories <i class="fa fa-chevron-right"></i></p>
                      </a>
                  </div>
              </div>
              <!--/.Card image-->
          </div>
          <!--/.Collection card-->

      </div>
      <!--/Fourth column-->

  </div>
  <!--/First row-->
</section>
<!--Section: Products v.4-->
      
