<button type="button" class="btn btn-default waves-light" (click)="style.show()" mdbRippleRadius>
    <i class="fa fa-sign-in" aria-hidden="true"></i>
  Sign in
</button>
<div mdbModal #style="mdb-modal" class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-sign-in fa-4x mb-3 animated rotateIn"></i>
                </div>
                <form action="">
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="email" class="form-control">
                        <label for="email">Your email</label>
                    </div>
    
                    <div class="md-form form-sm">
                        <input mdbActive type="password" id="pw" class="form-control">
                        <label for="pw">Your password</label>
                    </div>
    
                    <div class="text-center mt-2">
                        <button class="btn btn-default waves-light" mdbRippleRadius>Sign in <i class="fa fa-sign-in ml-1"></i></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
                
                       
