<!--Section: Testimonials v.2-->
<section class="section text-center pb-5">
    <!--Section heading-->
    <h1 class="section-heading dark-text h1 pt-4">Testimonials</h1>
    <!--Section description-->
    <!--Carousel Wrapper-->
    <mdb-carousel  class="carousel no-flex dark-text testimonial-carousel slide" [animation]="'slide'" [interval]="0">
        <!--First slide-->
        <mdb-slide>
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                    <p>
                        <i class="fa fa-quote-left"></i> 
                          Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
                          Dolore cum accusamus eveniet molestias voluptatum inventore,Dolore cum accusamus eveniet molestias voluptatum inventore .
                          <i class="fa fa-quote-right"></i> 
                    </p>      
                </div>
                <h4>Anna Deynah</h4>
                <h6>Founder at ET Company</h6>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid" alt="Second sample avatar image">
                    <p>
                        <i class="fa fa-quote-left"></i> 
                          Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
                          Dolore cum accusamus eveniet molestias voluptatum inventore, Dolore cum accusamus eveniet molestias voluptatum inventore .
                          <i class="fa fa-quote-right"></i> 
                    </p>
                </div>
                <h4>Maria Kate</h4>
                <h6>Photographer at Studio LA</h6>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid" alt="Third sample avatar image">
                    <p>
                        <i class="fa fa-quote-left"></i> 
                          Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
                          Dolore cum accusamus eveniet molestias voluptatum inventore,Dolore cum accusamus eveniet molestias voluptatum inventore .
                          <i class="fa fa-quote-right"></i> 
                    </p>
                </div>
                <h4>John Doe</h4>
                <h6>Front-end Developer in NY</h6>
            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--Carousel Wrapper-->
</section>
<!--Section: Testimonials v.2-->